{%capture logo%}
    {% render "pa-brand-logo" %}
{% endcapture %}

<div class="text-with-logo {{ css_class }}">
    {{ text | strip_html | replace: "$", logo }}
</div>

<style>
.text-with-logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
</style>