<div class="splide__arrows">
  <button class="splide__arrow splide__arrow--prev">
    {% render 'splide-left-arrow' %}
  </button>
  <button class="splide__arrow splide__arrow--next">
    {% render 'splide-right-arrow' %}
  </button>
</div>