.contact-page-width{
    padding: 0 12.2rem;
}

.contact-image-container img{
    width: 100%;
    height: auto;

}
.contact-heading{
    padding-bottom: 3rem;
}
.contact-text-container{
    padding-bottom: 3rem;
}
.contact-heading-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* contact form css */

.telephone-input{
    display: none;
}
.form-width{
    max-width: 95.4rem;
    margin: 0 auto;
    padding: 0;
}



@media screen and (max-width:749px){
    .contact-page-width{
        padding: 0 1.6rem;
    }
    .contact-heading{
        padding-bottom: 2.8rem;
    }
    .contact-text-container{
        padding-bottom: 2.8rem;
    }
    
}