.splide-container {
    position: relative;
    padding-bottom: 53px;
}
.splide-container .splide__arrows {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.splide-container .splide__arrows button {
    width: 40px;
    height: 40px;
    border-radius: 0;
}
.splide-container .splide__pagination {
    bottom: 0;
    overflow-x: hidden;
    transform: translateY(50%);
}
.splide-container .splide__pagination__page {
    width: 4.5rem;
    height: 4.27px;
    border-radius: 0;
    background: transparent;
    border: 1px solid black;
    margin-right: 8px;
}
.splide-container .splide__pagination__page.is-active {
    transform: scale(1);
}
.splide-container .splide__pagination__page.is-active {
    background-image: linear-gradient(to right, black 50%, black 0%, transparent 50%);
}
@media screen and (min-width: 750px){
    .splide-container .splide__pagination__page{
        width: 6.1rem;
    }
}