.header__icon:not(.header__icon--summary),
.header__icon span {
	justify-content: space-between;
	width: 100%;
	margin: 0;
}
.header_right_icons a {
	text-decoration: none;
}
.header_right_icons {
	display: flex;
	flex-direction: row-reverse;
	gap: 2.4rem;
}
.header__icon span {
	white-space: nowrap;
}
.header__icon:not(.header__icon--summary) {
	gap: 1rem;
}

/* ---- Brand Logos ---- */
.brands__wrapper{
	position: absolute;
    width: 100%;
    height: auto;
    top: 90px;
    gap: 28px;
    left: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #fff;
    justify-items: center;
    padding: 70px 89px;
	transition: all .3s linear;
}
.brands__wrapper .img__container {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
details svg {
    transition: all .5s linear;
}
.brands_dropdown details[open] summary ~ * {
	animation: sweep .5s ease-in-out;
}
.brands_dropdown details[open] svg {
	transform: rotate(-180deg);
}

@media screen and (max-width: 750px) {
	header-drawer {
		margin: 0 !important;
	}
}
.brands_dropdown {
	grid-area: left-icons;
	width: fit-content;
}
.brands_dropdown summary {
	display: flex;
	gap: 1rem;
	padding: 11px 37px;
	border: 1px solid;
}
.brands_dropdown details {
	width: fit-content;
}
@media screen and (min-width: 750px) {
	.header__inline-menu {
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: center;
		padding-top: 1.6rem;
		margin-top: 1.6rem;
	}
	sticky-header {
		position: relative;
	}
	.nav_bdr_top {
		height: 0.02rem;
		width: 100%;
		background: black;
		position: absolute;
		top: 55%;
	}
}

@keyframes sweep {
	0%    {opacity: 0; margin-top: -10px}
	100%  {opacity: 1; margin-top: 0px}
}
