.blog-topcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f5f5f5;
  gap: 2.4rem;
}

p {
  margin: 0;
}

.recentpost-container p {
  margin: 0;
}

.blog-heading {
  padding-top: 8.5rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.blog-content {
  padding-bottom: 8.5rem;
  max-width: 51.4%;
  text-align: center;
  line-height: 160%;
}

.recentpost-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.recent-post-main {
  padding: 0 10.2rem;
}

.recent-blog-heading {
  padding: 6.4rem 0 3.2rem 0;
  color: #0e0e10;
  font-weight: 700;
  line-height: 145%;
  letter-spacing: -0.2px;
}

.item:nth-child(1) {
  grid-area: 1 / 1 / -1 / 2;
}

.item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  gap: 1.6rem;
}

.item:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  gap: 1.6rem;
}

.item:nth-child(4) {
  grid-area: 3 / 2 / 4 / 4;
  display: flex;
  gap: 1.6rem;
}

.recent-article-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentpost-container .item:nth-child(1) .recent-article-image-container {
  width: 100%;
  height: auto;
}

.recentpost-container .item:nth-child(2) .recent-article-image-container,
.recentpost-container .item:nth-child(3) .recent-article-image-container,
.recentpost-container .item:nth-child(4) .recent-article-image-container {
  width: 42.7%;
  max-height: 20.6rem;
}


.blog-page-width {
  padding: 0 12.2rem;
}

.grid.grid--1-col.grid--3-col-desktop.blog-page-width {
  row-gap: 6.4rem;
  padding-bottom: 6.4rem;
  margin-bottom: 10.3rem;
}

.main-blog-container {
  background-color: #f6f6f6;
}

.main-blog-title {
  display: flex;
  gap: 2.8rem;
  text-decoration: none;
  color: #0e0e10;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.2px;
  padding-bottom: 1.2rem;
}

.recent-article-data {
  width: 58%;
}

.item:nth-child(1) .recent-article-data {
  width: 100%;
}

.main-blog-container {
  margin-top: 6.4rem;
}

.main-blog-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding-top: 6.4rem;
  padding-bottom: 3.4rem;
}

.main-blog-heading span {
  color: #0e0e10;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.blog-arrow {
  padding: 1rem;
}

.date-container {
  color: #231f20;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.07px;
  text-transform: uppercase;
  opacity: 0.6;
  padding-bottom: .8rem;
}

.recent-article-title-container {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: #0e0e10;
}

.article-desc {
  color: #231f20;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 1px;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .recentpost-container {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item:nth-child(n) {
    grid-area: auto;
  }
}

@media screen and (max-width: 749px) {
  .blog-content {
    padding-bottom: 8.5rem;
    max-width: 100%;
    text-align: center;
    padding-left: 1.7rem;
    padding-right: 2.1rem;
  }

  .recent-blog-heading {
    padding: 4.8rem 0 2.4rem 0;
    line-height: 130%;
    letter-spacing: 1px;
  }

  .recentpost-container {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item:nth-child(n) {
    grid-area: auto;
  }

  .blog-page-width {
    padding: 0 1rem 0 1.7rem;
  }

  .grid.grid--1-col.grid--3-col-desktop.blog-page-width {
    row-gap: 2.4rem;
    padding-bottom: 4.5rem;
    margin-bottom: 1rem;
  }

  .blog-article-container {
    display: flex;
    position: relative;
    gap: 1.6rem;
  }

  .blog-arrow {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
  }

  .main-blog-container {
    margin-top: 4.8rem;
  }

  .recent-post-main {
    padding: 0 1.7rem;
  }

  .main-blog-heading {
    padding-bottom: 3rem;
    padding-top: 3.2rem;
    display: block;
    padding-left: 1.7rem;
  }

  .recent-article-image-container {
    height: fit-content;
    width: 49%;
  }

  .main-article-data {
    width: 51%;
  }

  .recent-article-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .recentpost-container .item:nth-child(2) .recent-article-image-container,
  .recentpost-container .item:nth-child(3) .recent-article-image-container,
  .recentpost-container .item:nth-child(4) .recent-article-image-container {
    width: 49%;
    max-height: 100%;
  }

  .recent-article-data {
    width: 51%;
    position: relative;
  }

  .main-blog-title {
    color: #000;
    font-weight: 500;
    line-height: 145%;
    padding-bottom: .4rem;
  }

  .article-desc {
    overflow: hidden;
    color: #000;
    padding-bottom: .6rem;
  }
  .date-container {
    color: #7a7a7a;
    opacity: 1;
  }
}
