.header__icon:not(.header__icon--summary),
.header__icon span {
	justify-content: space-between;
	width: 100%;
	margin: 0;
}
.header_right_icons a {
	text-decoration: none;
}
.header_right_icons {
	display: flex;
	flex-direction: row-reverse;
	gap: 2.4rem;
}
.header__icon span {
	white-space: nowrap;
}
.header__icon:not(.header__icon--summary) {
	gap: 1rem;
}

/* ---- Brand Logos ---- */
.brands__wrapper{
	position: absolute;
	border-top: 1px solid #D1D1D1;
    width: 100%;
    height: auto;
    top: 110px;
    gap: 18px;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    justify-items: center;
    padding: 16px;
	transition: all .3s linear;
}
.brands__wrapper .img__container {
    width: 100%;
	height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.brands__wrapper .img__container img {
	width: 95px;
	object-fit: contain;
}
.brands_dropdown svg {
    transition: all .5s linear;
}
.brands_dropdown{
	grid-column: span 5;
	order : 1;
}
.brands_dropdown details[open] summary ~ * {
	animation: sweep .5s ease-in-out;
}
.brands_dropdown details[open] svg {
	transform: rotate(-180deg);
}
.store__locator{
	position: absolute;
    top: 10px;
    width: fit-content !important;
	gap: 8px !important;
}
.store__locator span svg{
	width: 14px;
	height: 14px;
}
.store__locator span:nth-child(2) {
    font-size: 12px;
}

@media screen and (max-width: 750px) {
	header-drawer {
		margin: 0 !important;
	}
}

.brands_dropdown summary {
	margin: 7px 0;
	display: flex;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 500;
}
.brands_dropdown summary svg{
	width: 16px;
    vertical-align: middle;
    height: 16px;
}
.hr__line{
	display: block;
	height: 0.02rem;
	width: 100%;
	position: absolute;
	left: 0;
	border: 1px solid #D1D1D1;
}
.brands_dropdown details {
	width: fit-content;
}
@media screen and (min-width: 750px) {
	.brands__wrapper{
		border-top: unset;
		top: 90px;
    	gap: 28px;
		grid-template-columns: repeat(5, 1fr);
		padding: 70px 89px;
	}
	.brands__wrapper .img__container {
		height: 230px;
	}
	.brands__wrapper .img__container img{
		width: 100%;
		object-fit: contain;
	}
	.brands_dropdown summary {
		font-size: 14px;
		font-weight: 400;
		margin: unset;
		padding: 11px 37px;
		border: 1px solid;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		line-height: 28px;
	}
	.header__inline-menu {
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: center;
		padding-top: 1.6rem;
		margin-top: 1.6rem;
	}
	sticky-header {
		position: relative;
	}
	.nav_bdr_top {
		height: 0.02rem;
		width: 100%;
		background: black;
		position: absolute;
		top: 55%;
	}
	.store__locator{
		position: unset;
		width: auto;
	}
	.store__locator span svg{
		width: 24px;
		height: 24px;
	}
	.store__locator span:nth-child(2) {
		font-size: 14px;
	}
	.brands_dropdown {
		grid-area: left-icons;
		width: fit-content;
		grid-column: unset;
		order: unset;
	}
	.hr__line{
		display: none;
	}
}

@keyframes sweep {
	0%    {opacity: 0; margin-top: -10px}
	100%  {opacity: 1; margin-top: 0px}
}
