/* Image text carousel style */

.image_text_carousel .image_box img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.96;
}

.title {
    text-align: center;
}

/* To override the splide default style important required */

.image_text_pd_il {
    padding: 0 !important;
}

/* Park categories carousel style */

.park_category_carousel_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.park_category_carousel_content .park_category_image_box {
    line-height: 0;
}

.park_category_carousel_content .park_category_image_box img {
    width: 100%;
    height: auto;
    aspect-ratio: 0.52;
}

.park_category_carousel_content .carousel_box {
    position: relative;
}

.park_category_carousel_content .category_text {
    position: absolute;
    left: 50%;
    bottom: 48px;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    color: #FFF;
}

.carousel_box .overlay {
    position: absolute;
    display: block !important;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

@media screen and (min-width: 750px) {

    .park_category_carousel_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 15px;
    }

    .park_category_carousel_content .park_category_image_box img {
        width: 100%;
        height: auto;
        aspect-ratio: 0.968;
    }

    .park_category_carousel_content .category_text {
        bottom: 57px;
    }

}

/* Park latest collections carousel style */

.park_latest_collection_image_text_carousel .park_latest_collection_image_box img {
    width: 100%;
    height: auto;
    aspect-ratio: 0.77;
}

.park_latest_collection_image_text_carousel .park_latest_collection_image_box {
    margin-bottom: -3px;
}

.park_latest_collection_title_box {
    display: flex;
    background-color: black;
    align-items: center;
    padding-left: 22px;
}

.park_latest_collection_title {
    color: #FFF;
    text-align: left;
    margin: 14px 16px 14px 0px;
}

/* To override the splide default style important required */

.park_latest_pd_il {
    padding: 0rem !important;
}

@media screen and (min-width: 750px) {

    .park_latest_pd_il {
        padding: 0rem !important;
    }

    .park_latest_collection_image_text_carousel .park_latest_collection_image_box img {
        width: 100%;
        height: auto;
        aspect-ratio: 0.8;
    }

    .park_latest_collection_title_box {
        padding-left: 24px;
    }

    .park_latest_collection_title {
        margin: 19px 16px 19px 0px;
    }

    .splide__arrow:disabled {
        opacity: 1;
        border: 1px solid black;
    }
}

/* Park trending carousel style */

.park_trending_image_text_carousel {
    padding: 0px;
}

.park_trending_image_text_carousel .park_trending_image_box img {
    width: 100%;
    height: auto;
    aspect-ratio: 0.68;
}

.park_trending_image_text_carousel .park_trending_image_box {
    position: relative;
    bottom: 20px;
}

.park_trending_overflow_image {
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
    border: 1px solid gray;
}

.park_trending_title_box {
    text-align: center;
}

.park_trending_title {
    margin: 16px;
}

/* To override the splide default style important required */

.park_trending_image_text_carousel .park_trending_pd_il {
    padding: 0rem !important;
}

@media screen and (min-width: 750px) {

    .park_trending_image_text_carousel .park_trending_image_box img {
        width: 100%;
        height: auto;
        aspect-ratio: 0.68;
    }

    .park_trending_title {
        margin: 27px;
    }
    
}