.trend-forecast-container .splide__slide{
    padding: 1.46rem;
}
.trend-forecast-container .image-container{
    margin-bottom: 1.6rem;
}
.label-container{
    padding: 1.9rem 5rem;
}
.label-container a{
    text-decoration: none;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.splide-container .splide__arrow svg{
	width: 2.4rem;
	height: 2.4rem;
}
.splide-container .splide__arrow--prev svg{
    transform: scale(1);
}

@media screen and (max-width: 749px) {
	.trend-forecast-container .splide__slide{
		width: 83% !important;
		/* A default width value 100 is adding as inline styling from splide. Without !important it couldn't be overided. */
	}
	.trend-forecast-container .splide__arrows.splide__arrows--ltr {
		bottom: -1.5rem;
		padding-inline: 1.5rem;
		padding: 0;
	}
	button.splide__pagination__page.ibc_page {
		width: 6.1rem;
		height: 0.43rem;
	}
	.splide-container .splide__arrow{
		width: auto;
		height: auto;
		padding: 0.8rem;
		border: 1px solid #000;
		background: transparent;
	}
	.trend-forecast-container .splide__pagination {
		width: 80%;
		margin: 0 auto;
	}
	.trend-forecast-container .splide__pagination li {
		width: calc(100% / 4 - 10px);
	}
	.trend-forecast-container .splide__pagination li .splide__pagination__page.ibc_page {
		width: 80%;
	
	}
}
@media screen and (min-width: 750px){
    .trend-forecast-container .splide__slide{
        padding: 1.4rem;
    }
    .label-container{
        padding: 1.8rem 0;
		text-align: center;
    }
}